#calculator { 
border-radius: 20px; 
width: 280px; 
height: 450px; 
text-align: center; 
background-color: #000000; 
margin: auto;
}

#display{
color: white; 
background-color: rgb(80, 79, 79); 
font-size: 30px;
width: 250px;
height: 50px;
border-radius: 10px;
text-align: right;
}


#title{
color: white;
font-size: 34px;
}


.zero{
width: 100px;
background-color: rgb(51, 164, 216); 
border-radius: 20px; 
font-size: 35px; 
cursor: pointer;

}

.numbers{
background-color: rgb(51, 164, 216); 
border-radius: 50px; 
font-size: 35px; 
height: 50px; 
width: 50px;
}

.operators{
size: 50px;
border-radius: 50px; 
font-size: 25px; 
height: 50px; 
width: 50px; 
background-color: #d1d1d1;

}

#removeOneNumber:hover{
    opacity: 70%;
    cursor: pointer;
}

.numbers:hover{
    opacity: 70%;
    cursor: pointer;
}

.operators:hover{
    opacity: 70%;
    cursor: pointer;
}

.remove:hover{
    opacity: 70%;
    cursor: pointer;
}

.zero:hover{
    opacity: 70%;
    cursor: pointer;
}

#first-row-numbers{
    position: relative;
    top: 12px;
}

#second-row-numbers{
    position: relative;
    top: 20px;
}

#third-row-numbers{
    position: relative;
    top: 30px;
}

#fourth-row-numbers{
    position: relative;
    top: 40px;
}

#fifth-row-numbers{
    position: relative;
    top: 50px;
}

.buttonDisabled{
    cursor: not-allowed;
    pointer-events: none;
    color: red !important;
}